@model AppUser

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Título -->
            <h2 class="text-center display-4 mb-4">
                <i class="bi bi-person-circle"></i> @Model.Name @Model.LastName
            </h2>

            <!-- Tarjeta de Información -->
            <div class="card shadow-lg border-0">
                <div class="card-header bg-primary text-white text-center">
                    <h4 class="mb-0">
                        <i class="bi bi-person-fill"></i> User Information
                    </h4>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Id: </strong> @Model.Id
                        </li>
                        <li class="list-group-item">
                            <strong>Username:</strong> @Model.UserName
                        </li>
                        <li class="list-group-item">
                            <strong>Email:</strong> <a href="mailto:@Model.Email" class="text-decoration-none text-dark">@Model.Email</a>
                        </li>
                        <li class="list-group-item">
                            <strong>Phone:</strong> <a href="tel:@Model.PhoneNumber" class="text-decoration-none text-dark">@Model.PhoneNumber</a>
                        </li>
                        <li class="list-group-item">
                            <strong>Genero:</strong> @Model.Genero
                        </li>
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <a href="@Url.Action("AboutMeEdit")" class="btn btn-outline-primary btn-sm mx-1">Cambiar Contraseña</a>
                    <button class="btn btn-outline-success btn-sm mx-1" data-bs-toggle="modal" data-bs-target="#detalleModal">Mostrar detalles</button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detalleModal" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="detalleModalLabel">Información de @Model.UserName</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <strong>Nombre:</strong>
                <i>@Model.Name</i>
                <i>@Model.LastName</i> <br />
                <strong>Correo Electrónico:</strong>
                <i>@Model.Email</i>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                <button type="button" class="btn btn-primary">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>
